.avatar{
    width: 40%;
    height: 80%;
    top: 0;
    padding-top: 10%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;

    .girl-avatar {
        animation-timing-function: ease-in-out;
        animation-duration: 12s;
        box-shadow: 0 0 20px 0px lightyellow;
        margin-left: calc(30% - 100px);
        transform-origin: 100px 100px 0;
        border: 2px solid #ccc;
    }
}